<header class="sticky top-0 z-10 bg-white border-b border-slate-100 shadow-sm">
  <div class="max-w-xl mx-auto px-4 py-4 flex gap-3 items-center justify-end">
    <%= link_to "Home", root_path, class: "text-xs flex items-center gap-1 text-slate-400 hover:text-red-400 transition-colors" %>
    <%= button_to "Sign out", session_path(Current.session),
          method: :delete,
          form_class: "flex items-center",
          class: "text-xs text-slate-400 hover:text-red-400 transition-colors
                  bg-transparent border-0 cursor-pointer p-0" %>
    <span class="text-xs text-slate-400"><%= @user.email %></span>
  </div>
</header>

<div class="max-w-xl mx-auto px-2 py-3 flex flex-col gap-4">
  <div class="bg-white shadow-sm border border-slate-100 p-4">
    <%= line_chart @user.weight_entries.order(:date).pluck(:date, :weight), title: "Weight Change Over Time (lbs)" %>
  </div>
</div>

<div class="max-w-xl mx-auto px-2 py-3 flex flex-col gap-4">
  <div class="bg-white shadow-sm border border-slate-100 p-4">
    <%= column_chart @user.food_entries.order(:date).group(:date).sum(:calories), title: "Calories By Day" %>
  </div>
</div>
